In [1]:
import pandas as pd

In [3]:
s = pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s.dtype

dtype('int64')

In [5]:
s.values

array([10, 20, 30, 40, 50])

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
print(s.name)

None

In [10]:
s
s.name = "calories"
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [11]:
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [12]:
#Indexing
s[0]

np.int64(10)

In [13]:
s[0:2] #start (included) : step value (values to jump)

0    10
1    20
Name: calories, dtype: int64

In [14]:
#iloc -> location based indexing
s.iloc[3]

np.int64(40)

In [15]:
s.iloc[[1,3,4]]

1    20
3    40
4    50
Name: calories, dtype: int64

In [19]:
index = ["apple","banana","orange","grapes","mango"]
s.idx= index
print(s.index)

Index(['apple', 'banana', 'orange', 'grapes', 'mango'], dtype='object')

In [20]:
s['orange']

np.int64(30)

In [ ]:
#loc->label based indexing
#s.loc[['apple','orange']] 
#s.iloc[['apple','orange']]
s.iloc[[0,2]]

apple     10
orange    30
Name: calories, dtype: int64

In [30]:
#in label based indexing your start as well as stop value both are included in the output
s['apple':'grapes']

apple     10
banana    20
orange    30
grapes    40
Name: calories, dtype: int64

In [31]:
fruit_protien  = {
    "Avocado":2.0, #grams of protien
     "Guava": 2.6,
    "Blackberries": 2.0,
    "Oranges": 0.9,
    "Banana": 1.1,
    "Apples": 0.3,
    "Kiwi": 1.1,
    "Pomegranate": 1.7,
    "Mango": 0.8,
    "Cherries": 1.0

}

In [34]:
s2 = pd.Series(fruit_protien,name = "Protien")
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Protien, dtype: float64

In [35]:
#Conditional selection
s2[s2>1]

Avocado         2.0
Guava           2.6
Blackberries    2.0
Banana          1.1
Kiwi            1.1
Pomegranate     1.7
Name: Protien, dtype: float64

In [36]:
#logical operators : and or not
s2[(s2>0.5) | (s2<=2)]

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Protien, dtype: float64

In [37]:
#not operation:
s2[~(s2>1)]

Oranges     0.9
Apples      0.3
Mango       0.8
Cherries    1.0
Name: Protien, dtype: float64

In [38]:
#Modifying the series
s2["Mango"] = 4.9
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           4.9
Cherries        1.0
Name: Protien, dtype: float64

In [40]:
import numpy as np
ser = pd.Series(['a',np.nan,1,np.nan,2])
ser.notnull().sum()

np.int64(3)

In [41]:
#DataFrame
data = {
    "Name":["Alice","Bob","Charlie","David","Eve","Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 62000, np.nan, 50000]
}